:root {
--iris: #4D5AE5;
--ocean: #404BBF;
--navy-blue: #2E2F42;
--slate: #434455;
--cloud: #F4F4FD;
--cornflower: #E7E9FC;

}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: white     ;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: var(--navy-blue);
    color: var(--cloud)
}

h1 {
font-weight: bold;
font-size: 56px ;
Line-Height: 1.07;
}

h2 {
font-weight: bold;
font-size: 36px;
}

h3 {
font-weight: 500;
font-size: 20px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;

    color: var(--navy-blue);
    Font-Weight: 500;
    font-size: 16px;
    Line-Height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:active {
    text-decoration: none;
    color: var(--ocean);
    font-family: Roboto;
    Font-Weight: 500;
    font-size: 16px;
    Line-Height: 1.5;
    }

.nav-address {
    text-decoration: none;
    color: var(--navy-blue);
    font-family:'Roboto';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-address:active {
    text-decoration: none;
    color:var(--ocean);
}




    button {
        background-color: var(--iris);
        border: 1px solid var(--ocean);
        color: #ffffff;
cursor: pointer;
    }

    button:focus,
    button:hover {
        background-color: var(--ocean);
        color: #ffffff;
    }

    .link {
        text-decoration: none;
    }

    .logo {
        
        text-transform: uppercase;
        color: var(--iris);
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }

    .logo-light {
        color: var(--cloud);
    }

    .logo-dark {
        color: var(--navy-blue);
    }

    .menu-button {
    background-color: var(--cloud);
    color: var(--iris);
    border: 1px solid var(--cornflower);
    cursor: pointer;
    }

    .menu-button:active {
    background-color: var(--iris);
    color: white;
    }

    .background-cloud{
        background-color: var(--cloud);
    }

    .backgound-navy {
        background-color: var(--navy-blue);
        color: white;
    }

    li {
        background-color: white;
    }

