:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--slate: #434455;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.body-text {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 0 16px;
}

.team-card-footer-p {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 0 16px;
	text-align: center;
}

img {
	display: block;
}
.footer {
	background-color: var(--navy-blue);
	color: var(--cloud);
	padding: 100px 0;
}

.footer-text {
	color: var(--cloud);
	max-width: 264px;
}

.header-one {
	font-weight: bold;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
}

h1 {
	color: white;
	max-width: 496px;
}
.header-two {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.sec-three,
.sec-four {
	margin-bottom: 72px;
}

.header-two-portfolio,
.header-three-index {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	padding: 0 16px;
	text-align: center;
	margin-bottom: 8px;
}

.invisible {
	display: none;
}
/* Navigation */

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	gap: 40px;
}

.nav-link {
	text-decoration: none;
	color: var(--navy-blue);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	list-style-type: none;
	padding: 24px 0 24px;
}
a .nav-link,
.nav-list .nav-link {
	list-style: none;
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: none;
	color: var(--ocean);
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}

.nav-address-list {
	display: flex;
	gap: 40px;
}
.nav-address {
	text-decoration: none;
	color: var(--slate);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: flex;
	justify-content: space-between;
}

.nav-address:focus,
.nav-address:hover,
.nav-address:active {
	text-decoration: none;
	color: var(--ocean);
}

.nav-box {
	margin: 20px;
}

.link {
	text-decoration: none;
}

.logo {
	text-transform: uppercase;
	color: var(--iris);
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-right: 76px;
}

.logo-light {
	color: var(--cloud);
}

.logo-dark {
	color: var(--navy-blue);
}

/* Buttons */

.single-button {
	min-width: 169px;
	height: 56px;
	display: block;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--iris);
}

.standard-button {
	background-color: var(--iris);
	border: 1px solid var(--ocean);
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.standard-button:focus,
.standard-button:hover {
	background-color: var(--ocean);
	color: #ffffff;
}

.menu-button {
	background-color: var(--cloud);
	color: var(--iris);
	border: 1px solid var(--cornflower);
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	margin: 12px;
	height: 48px;
	border-radius: 4px;
}

.menu-button:focus,
.menu-button:hover,
.menu-button:active {
	background-color: var(--ocean);
	color: white;
}

/* backgrounds */

.background-cloud {
	background-color: var(--cloud);
}

.background-navy {
	background-color: var(--navy-blue);
	color: white;
	padding: 188px 0;
}

/* lists */

.list {
	list-style: none;
}

/* flexbox */

.container {
	display: flex;
	width: 1158px;
	flex-direction: column;
	justify-content: center;
	padding: 120px 0;
	margin: 0 auto;
	padding: 0 15px;
}

.header-container {
	border-bottom: 1px solid var(--cornflower);
}

/* .nav-box {
	padding: auto;
	margin: 12px;
	list-style: none;
} */

.portfolio-container-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
}

.portfolio-card {
	margin: 12px;
	text-align: left;
	border: 1px solid var(--cornflower);
	width: 360px;
}

.portfolio-container-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 586px;
}

.solutions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 24px;
}

.team-card {
	background-color: white;
	border-radius: 0px 0px 4px 4px;
}

.team-card-footer {
	padding: 32px 0px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.sec-two-card {
	width: calc((100% - 72px) / 4);
}

.sec-three-card {
	width: calc((100% - 48px) / 3);
}

.nav-address-list {
	display: flex;
}
.nav-address-list-link {
	display: flex;
	gap: 40px;
}

.header-two .visually-hidden {
	margin-bottom: 8px;
}

.sec-padding {
	padding: 120px 0;
}
